:root {
  font-size: 1.2rem;
}
* {
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}
input,
button {
  height: 3 rem;
  color: black;
}
img {
  width: 20rem;
}
body {
  background-color: rgb(33 33 33);
  color: white;
}
